.atm-sidebar {
  width: 250px;
  background: #1b1b1b;
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.atm-title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.atm-btn {
  background: #3d3d3d;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #565656;
  transition: 0.2s;
}

.atm-btn:hover {
  background: #525252;
  transform: scale(1.03);
}

.atm-btn.active {
  background: #006eff;
  border-color: #0053c1;
}

.atm-btn.danger {
  background: #a00000;
  border-color: #700000;
}

.atm-btn.danger.active,
.atm-btn.danger:hover {
  background: #d00000;
}
