#pin {
  text-align: center;
  margin: 0 auto 1em;
  width: 16em;
  font-size: 0.9em;
  background-color: #f8f8fb;
  border: 1px solid rgb(200, 197, 197);
  border-radius: 0.2em;
  color: black;
  padding: 0.3em 1em;
}

.error-message {
  color: #ff0000;
  margin-bottom: 0.5em;
}
